
.ipynb_checkpoints/PGA_Cap_wk1_Data-checkpoint.ipynb
.ipynb_checkpoints/PGA_Toronto_Clustering-checkpoint.ipynb
.ipynb_checkpoints/PGA_Cap_wk1_Data_v2-checkpoint.ipynb
Presentation.odp
PGA_Cap_wk2_Capstone.ipynb
PGA_Cap_wk1_Data_v2.ipynb
.ipynb_checkpoints/PGA_Cap_wk2_Capstone_v2-checkpoint.ipynb
.ipynb_checkpoints/PGA_Cap_wk2_Capstone-checkpoint.ipynb
.ipynb_checkpoints/PGA_Cap_wk1_Data_v3-checkpoint.ipynb
PGA_Cap_wk1_Data_v2.ipynb
Report.odt
.ipynb_checkpoints/PGA_Cap_wk2_Capstone_v3-checkpoint.ipynb
.ipynb_checkpoints/PGA_Cap_wk2_Capstone_final-checkpoint.ipynb
